.menu{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 120px;

  ul{
      display: inline-table;

      li{
          display: inline;
          color:#D5DDE5;;
          background:#1b1e25;
          border-bottom:4px solid #9ea7af;
          font-size:17px;
          padding:17px;
          text-align:left;
          vertical-align:middle;
          cursor: pointer;
      }

      li:hover{
        color:#1b1e24;
        background:#D5DDE5;
      }

  }

}
