body {
  background: #04080B;
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-align: center;
}

.header{
  height: 20px;
  margin-top: 30px;

  h1{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #E8CB00;

  }

  p {
    color: #FFFF8B;
  }
}

.loading{
  margin-top: 100px;

}
